@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700&display=swap');

@import "tailwindcss";

.title {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 2.5rem; /* adjust as needed */
  font-weight: 700;
  position: relative;
  display: inline-block;
  color: #4cbfa6;
 
}
